<%- include("partials/header") -%>
<h1>Contact</h1>
<div style="margin: auto; width: 50%; margin-top: 15%;">

    <p><%= contactContent %></p>
    <ul class="list-group">
        <li class="list-group-item list-group-item-danger"><a href="https://www.linkedin.com/in/ayush-awasthi-8167a416b/">
            LinkedIn
        </a></li>
        <li class="list-group-item list-group-item-success"><a href="https://github.com/ayushx007">Github</a></li>
        <li class="list-group-item list-group-item-info"><a href="mailto:ayush.awasthi468@gmail.com">Email</a></li>
    </ul>
</div>
<%- include("partials/footer") -%>